<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/navStyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' /> 
  <script src='/javascripts/requests.js' defer></script>
  <script src='/javascripts/index.js' defer></script>
  
</head>

<body>


  
  <% include sideNavbar.html %>

  

  <div id='main' class="main">
    INDEX page
  </div>
</body>

</html>