label {
     display: block;
     margin: auto;
 }
input {
    display: block;
    margin: auto;
}

table {
    margin: auto;
}



td, th {
    padding-right:10px;
    padding-bottom: 10px ;
}


.error {
    border: 1px solid red;
    box-shadow: 0px 0px 5px red, inset 0px 0px 2px red;
}
.show-info {
    width: 100%;
    position: fixed;
    top: 20vh;
}
.hide-info {
    display: none;
}
